/* {
    #A04832
    #39312E
} */
.navbar{
    background: #39312E;
}

.nav:hover{
    color: red;
    background: blue;
}

.title{
    font-size: 2rem;
}

.my-info{
    width: 70%;
    padding: 10px;
}

.container{
    border: 1px solid black;
    border: none;
}

body{
    background: #ededed;
}

.body{
    padding-top: 20px;
}

.list-group-item{
    padding: 1px;
}

i{
    font-size: 0.1rem;
    margin: 3px;
}

.detail{
    font-size: 1.2rem
}

.skill{
    font-weight: 700;
}

.info-title{
    font-weight: 600;
}

.links{
    margin: 4px;
    height: 10px;
    border: 1px solid black;
    border-radius:10px;
}

img.other-sites{
    width: auto;
    height: 20px;
}
